.xm-container {
	position: relative;
	border:1px solid;
}

.xm-container .imgs {
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;
}
.xm-container .imgs li {
	margin: 0;
	padding: 0;
	position: absolute;
	top:0;
	left: 0;
	display: none;
}
.xm-container .pages {
	height: 30px;
	background: #000;
	position: absolute;
	bottom: 0;
	left: 0;
}
.xm-container .pages i {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #fff;
	margin:10px;
}
.xm-container .pages i.current {
	background: #f00;
}
.xm-container .prev, .next {
	width: 45px;
	height: 100px;
	background: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	color: #fff;
	font-size: 30px;
	line-height: 100px;
	text-align: center;
}
.xm-container .next {
	right: 0;
}